header {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 50px;
  color: white;
}

main {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: -50px;
  color:white;;
}
button { 
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  color: black;
  width: 200px;
  font-size: 25px;
}   

body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#result {
  font-size: 45px;
  font-weight: bold;
}

#lyrics {
  font-size: 35px;
  white-space: pre-line;
  line-height: 1;
}

#azlogo {
  width: 250px;
  height: 250px; 
  margin-top: -25px; 
  text-align: center;
}

#clickbutton {
  font-size: 30px;
}

#generateHeader {
  font-size: 50px;
}

#myFilter {
  font-family: "Times New Roman", Times, serif;
  width: 100px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}